.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #eee;
}

.quantity_self{
padding: 9px  ;
margin: 0 10px;
border-radius: 3px;
font-size: 1.4rem;
}


.price_self{
    font-size: 1.3rem;
}